{% extends 'base.html' %}

{% block start %}
<div class="container">
  <h1>Budget Management System</h1>
  <div class="text-end mb-3">
    <a href="/add_transactions/" class="btn btn-primary">Add Transactions</a>
   
    
</div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Description</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      {% for trans in transactions %}
      <tr>
        <td>{{ trans.id }}</td>
        <td>{{ trans.date }}</td>
        <td>{{ trans.description }}</td>
        <td>{{ trans.amount }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}
